html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom right, rgb(22, 13, 24), rgb(13, 10, 27))
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Lalezar',cursive;
  font-weight: bold;
  
}
