
#navb{
  text-align: center;
  background-color: rgba(29, 27, 27, 0.9);
  
}

.navbb{
  background-color: rgb(46, 46, 46);
  margin: 3px;
  border-radius: 3px;
}
.navbb:hover{
  background-color: rgb(26, 20, 20);
}
.lin{
  padding: 0;
  padding-top: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://wallpaperaccess.com/full/1947484.jpg");
}
.contatext{
  margin-top:70px;
  margin-right: 0;
}

.ptext{
  margin-top: 40px;
  font-size: 25px;
  border-radius: 3px;
  box-shadow: white 2px 2px 5px;
  color:white;
}
.ptext:hover{
  background-color: rgb(48, 95, 95);
  border-radius: 3px;
}

 .amooz{
   background-color: rgb(104, 172, 113);
   border-radius: 2px;
 }
.a1{
  text-decoration-line: none;

}
.web{
  width: 260px;
  height: 100px;
  margin-top: 14px;
  border-radius: 7px;
  
  background-color: rgb(41, 53, 53);
  transform: skew(165deg);
  margin-bottom: 25px;
}

.icon{
  box-shadow: aliceblue 1px 1px 5px;
  border-radius: 5px;
  padding: 3px;
}
.iconn{
  box-shadow: aliceblue 1px 1px 4px;
  
  transform: skewy(200deg);
}
.imgg1{
  border-radius: 50%;
  
}

.imgdev{
  width: 100%;
  margin-bottom: 30px;
}

.home{
  background-color: #10222f ;
  padding-bottom: 60px;
}

.iconpvc{
  border-radius: 50%;
  background-color: aqua;
}

.imgicon{
  border-radius: 50%;
  box-shadow: rgb(239, 240, 236) 1px 1px 8px;
}
.pvc{
  background-color: rgb(83, 50, 50);
  border-radius: 3px;
  margin-right: 13px;
  margin-bottom: 3px;
  margin-top: 7px;
  text-align: center;
  
}
.pvc:hover{
  background-color: rgb(121, 70, 70);
}

.texti{
  text-align: center;
  padding: 3px;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}



.im img{
  opacity: 0.37;
  
  position: absolute;
}


.pvcc{
  text-align: center;
  color: rgb(206, 211, 214);
}
 .tarh{
   background-color: rgb(69, 9, 109);
   width: 50%;
   height: 50px;
   margin-top: 40px;
   margin-right: 25%;
   border-radius: 4px;
   padding-top: 8px;
   box-shadow: rgb(7, 255, 255) 1px 1px 7px;
   margin-bottom: 5px;
 }

 .img1{
   border-radius: 5px;
   margin-top: 20px;
 }

.img2{
  border-radius: 6px;
  transform: skewY(190deg);
  margin-top: 25px;
  
}

.img2 img{
  border-radius: 6px;
}
.img2 :hover{
  border-radius: 6px;
  box-shadow: rgb(0, 255, 242) 1px 1px 7px;
}

.tarhm{
  background-color: rgb(32, 77, 77);
   width: 50%;
   height: 50px;
   margin-top: 40px;
   margin-right: 25%;
   border-radius: 4px;
   padding-top: 8px;
   box-shadow: rgb(7, 236, 7) 1px 1px 7px;
   margin-bottom: 5px;
}
.img3{
  border-radius: 6px;
  transform: skewY(170deg);
  margin-top: 5px;
}
.img3 img{
  border-radius: 6px;
}
.img3 :hover{
  border-radius: 6px;
  box-shadow: rgb(0, 255, 242) 1px 1px 7px;
}


.navb{
  background-image: linear-gradient(to bottom right, rgb(29, 21, 31), rgb(13, 10, 27))

}

.foote{
  background-color: rgba(29, 27, 27, 0.9);
  height: 100%;
  color: #f7f8f8;
}


.h2{
  background-color: rgb(81, 87, 80);
  box-shadow: aquamarine 1px 1px 3px;
}

.foot1{
  margin: 4px;
  text-align: center;
  box-shadow: azure 1px 1px 3px;
  

  margin-top: 84px;
 
}
.imgcall{
  box-shadow: rgb(252, 252, 255) 1px 1px 4px;
  border-radius: 50%;
  height: 60px;
  margin: 44px;
  transform: skewY(190deg);
}
.cl{
  margin-bottom: 7px;
}
.imga:hover{
  box-shadow: wheat 1px 1px 7px;
  border-radius: 50%;
}
.abdolimg{
  border-radius: 50%;
  border-style:groove;
  box-shadow: rgb(85, 107, 117) 1px 1px 7px;
  border-color: rgb(78, 23, 23);
}


.colabdol{
  margin-top: 52px;
  margin-bottom: 52px;
  margin-left: 22px;
  box-shadow: burlywood 1px 1px 3px;
  border-radius: 3px;
  transform: skewY(170deg);
  color: rgb(57, 136, 125);
  text-shadow: rgb(14, 8, 5) 1px 1px 2px;
}

.pp{
  padding: 2px;
  margin: 5px;
  border-radius: 3px;
  color: rgb(6, 133, 245);
  text-shadow: rgb(245, 2, 2) 1px 1px 4px;
  box-shadow: rgb(255, 255, 255) 1px 1px 3px;
}

.dev{
  text-align: center;
  margin-top: 33px;
  padding: 4px;
  background-color: rgb(54, 51, 56);
}
.abdollah{
  box-shadow: rgb(101, 247, 150) 1px 1px 6px;
  background-image: linear-gradient(to bottom right, rgb(22, 13, 24), rgb(13, 10, 27));
  border-radius: 4px;
  margin: 3px;
  padding: 1px;
  color: rgb(176, 240, 93);
}
.abdollah:hover{
  background-color: aliceblue;
  color: black;
}
.aa{
  text-decoration: none;
}